body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

header h1{
    font-family: sans-serif;
    color: #202020;
}

.rules p{
    font-family: sans-serif;
    color: #202020;
}


.form_container{
    padding: 5vw;
    margin: 1vw;
    border-radius: 1.1rem;
    background-color: lightgray;

}

.form_container form{
    display: flex;
    flex-flow: column;
}

#guess{
    border: 1px solid lightgrey;
    font-family: sans-serif;
    color: #202020;
    border-radius: 1.1rem;
    margin-top: 1.5vh;
}
#guessBTN{
    font-family: sans-serif;
    border: 1px solid #909090;
    border-radius: 1.1rem;
    margin-top: 1.5vh;
    width: 50%;
    cursor: pointer;
}

#guessBTN:hover{
    background-color: lightgray;
}
